.school-mainvisual{
  height: 100vh;
  position: relative;
  max-width: 100%;
  margin-top: 90px;
}
.sm-img{
  height: 100vh;
  object-fit: cover;
  object-position: 100% 50%;
}
.sm-tex1{
  position: absolute;
  top:  10px;
  right: 3%;
  width: 90%;
}

.circle-3{
background: linear-gradient(to right, #F5C4CC, #FCEAED);
width: 250px;
height: 250px;
border-radius: 50%;
opacity: 0.9;
}
.sm-tex1a{
  position: absolute;
}


.mv-tex2{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 90%;
}
.circle-2{
  margin-left: auto;
  background: linear-gradient(to right, #F1BFE5, #F6E9F3);
width: 150px;
height: 150px;
border-radius: 50%;
opacity: 0.9;
}
.mv-tex2 p{
  position: absolute;
  right: 0;
  top: 25%;
}