/*school-mainvisual*/
.school-mainvisual{
  position: relative;
  max-width: 100%;
  margin-top: 90px;
  margin-bottom: 80px;
}
.sm-img{
  height: 100vh;
  object-fit: cover;
  object-position: 85% 50%;
}
.sm-tex1{
  position: absolute;
  top:  10px;
  right: 12%;
  width: 85%;
}

.circle-3{
background: linear-gradient(to right, #F5C4CC, #FCEAED);
width: 300px;
height: 300px;
border-radius: 50%;
opacity: 0.9;
margin-left: auto;
}
.sm-tex1a{
  text-align: center;
  position: absolute;
  top: 50%;
  right:-11%;
  transform: translateY(-50%);
}
.sm-tex1a h2{
  font-size: 48px;
  text-shadow: 2px 2px 2px rgba(255,255,255,1);
}

.sm-tex2{
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  
}
.sm-tex2 li{
  border-radius: 5px;
  padding:  8px 15px;
  margin-bottom: 10px;
  background: rgba(255,255,255,0.8);
}


/*school-tex1*/
.school-tex1{
  margin-bottom: 80px;
}
.school-tex1 p{
  background: #FCEAED;
  padding: 40px;
  border-radius: 20px;
}


/*school-trouble*/
.school-trouble{
  position: relative;
  padding: 80px 0;
  background: #EFE9E9;
  margin-bottom: 120px;
}
.stbox{
  position: relative;
  margin: 50px 0;
  background: #fff;
  padding: 40px ;
  border-radius: 20px;
  box-sizing: 2px 2px 4px rgba(0,0,0,0.1);
}
.stbox>img{
  width: 130px;
  position: absolute;
  bottom: -100px;
  right: 0;
}
.st-title{
  margin-bottom: 30px;
}
.stbox-list li{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.stbox-list li img{
  width: 20px;
  margin-right: 5px;
}
.stbox-list p{
  line-height: 1.2;
}


/*school-resolution*/
.school-resolution{
  margin-bottom: 120px;
}
.sr-list{
  position: relative;
}
/* .sr-list li{
  margin-bottom: 150px;
} */
.sr-sec1{
  margin-bottom: 120px;
}
.sr-img img{
  width: 50%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 15%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.sr-img2 img{
display: block;
margin-left: auto;
}
.sr-box{
  position: absolute;
  top: 200px;
  z-index: 10;
  width: 65%;
  padding: 30px 20px;
  border-radius: 20px;
  background: rgba(251,246,246,0.9);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.sr-box1{
  right: 0;
}
.sr-box2{
  left: 0;
}
.sr-box-comment{
  position: absolute;
  right: 10px;
  top: -20px;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  background: #fff;
  border:2px solid #F5C4CC;
}
.sr-sec2{
  margin-bottom: 80px;
  position: relative;
  padding: 80px 0px;
}
.srcogao-img1{
  position: absolute;
  top: 0px;
  right: 0;
}
.srcogao-img2{
  position: absolute;
  bottom: 0px;
  left: 0;
}
.dot{
  position: relative;
}
.dot::after{
  content: "";
  background: #8E3141;
  width: 5px;
  height: 5px;
  position: absolute;
  top: -7px;
  left: 40%;
}

.sr-sec3{
  margin-bottom: 300px;
}
.sr-box2 h3{
margin-bottom: 20px;
}

.sr-sec4{
  margin-bottom: 120px;
}
.sr-list2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sr-list2 li{
  width: 49%;
  
}
.sr-list2 h3{
  margin-bottom: 20px;
}
.sr-list2 img{
  height: 350px;
  object-fit: cover;
  object-position: 50% 50%;
}
.sr-list2-img{
  position: relative;
}
.sr-list2-img::after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #f5c4cc;
  border-width: 25px 0px 25px 43.3px;
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
}

/*school-reason*/
.school-reason{
  margin-bottom: 120px;
  padding: 80px 0;
  background: linear-gradient(to right, #F5C4CC, #FCE9EC);
}
.srason-list>li{
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
background: rgba(255,255,255,0.8);
}
.sreason-title{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #8E3141;
}

.sreason-num{
  margin-right: 10px;
}
.sreason-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sreason-box li{
  width: 49%;
}
.sreason-img img{
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
/*school-why*/
.school-why{
  margin-bottom: 120px;
}
.sw-text1{
  margin-bottom: 30px;
}
.sw-list li{
  background: #FCEAED;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.sw-title{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #8E3141;
}
.sw-num{
  margin-right: 10px;
}

/*school-resolution2*/
.sr-sec5{
  margin-bottom: 80px;
  position: relative;
  padding: 80px 0px;
  text-align: center;
}
.watch{
  width: 80px;
  position: absolute;
  top: 20px;
  right: 20%;
}

.sr-box-tex-a{
  margin-bottom: 20px;
}
.sr-sec6{
  margin-bottom: 300px;
}
.sr-sec7{
  background: linear-gradient(to right, #F5C4CC, #FCE9EC);
padding: 80px 0;
margin-bottom: 120px;
}
.sr-sec7 h3{
  margin-bottom: 30px;
}
.sr-sec7-img{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.sr-sec7-img img{
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

/*school-voice*/
.school-voice{
  margin-bottom: 120px;
}
.svoice-listbox{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
background: #fff;
border: 1px solid #8E3141;
padding: 30px 20px;
border-radius: 20px;
}
.svoice-img{
  width: 30%;
  text-align: center;
}
.svoice-img img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.svoice-tex{
  width: 65%;
}
.svoice-tex .f-4{
  margin-bottom: 20px;
}

/*school-curriculum*/
.school-curriculum{
  margin-bottom: 120px;
}
.sc-box{
  background: #FBF6F6;
  text-align: center;
  border: 1px solid #333;
  padding: 80px 40px;
  border-radius: 20px;
}
.sc-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.sc-list>li{
  border: 1px solid #333;
  border-radius: 20px;
  padding: 40px;
}
.sc-list-img img{
  width: 200px;
}
.sc-list-img2 img{
height: 150px;
object-fit: cover;
}
.sc-list-img2{
  margin-bottom: 20px;
}
.sc-list-img1{
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sc-list-tex{
  width: 70%;
  margin: 0 auto;
}
.sc-list-tex p{
  margin-top: 20px;
  text-align: left;
}

/*line-area*/
.line-area{
  background: linear-gradient(to right, #8E3141, #FB506E);
  margin-bottom: 120px;
  padding: 80px 0;
}
.line-area h3{
  font-weight: normal;
  margin-bottom: 30px;
}
.line-area p:not(:last-of-type){
margin-bottom: 20px;
}
.line-box1{
  color: #fff;
}
.line-box2{
  margin-top: 80px;
  padding: 40px 30px;
  background: #fff;
  border: 5px solid #05CB43;
  border-radius: 20px;
}
.line-box2>p{
  text-align: center;
}
.line-link-box{
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.line-link-box1{
  width: 40%;
  text-align: center;
}
.line-link-box1 img{
  width: 200px;
}
.border{
  text-decoration: line-through solid #fff auto;
}

.line-link-box2{
  width: 60%;
}
.line-link-box2 a{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border:3px solid #05CB43;
  padding: 40px 0;
  border-radius: 20px;
  transition: all 0.3s;
}
.line-link-box2 a:hover{
  background: rgba(5,203,67,0.2);
}
.line-link-box2 img{
  width: 80px;
  margin-right: 50px;
}
.line-box2-comment{
  background: #F5C4CC;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

/*school-low*/
.school-low{
  margin-bottom: 50px;
}
.sl-box{
  background: #F5F5F5;
  border-radius: 20px;
  padding: 40px;
}
.sl-box p{
  margin-bottom: 20px;
}


@media(max-width:960px){
  .sm-tex1a h2{
    font-size: 36px;
    text-shadow: 2px 2px 2px rgba(255,255,255,1);
  }
  .sm-tex1{
    right: 6%;
  }
  .sm-tex1a{
    right:-6%;
  }
}

@media(max-width:760px){
  /*school-mainvisual*/
  .school-mainvisual{
    height: auto;
    min-height: 350px;
  }
.sm-img{
  margin-bottom: 350px;
  height: auto;
  min-height: 350px;
  object-position: 50% 50%;
}
.sm-tex1{
  position: absolute;
  top: 32%;
  right:auto;
  left: 2%;
  z-index: 10;
  width: 100%;
}
.circle-3{
  /* width: 420px;
  height: 420px; */
  width: 65vw; /* ビューポート幅の50% */
  height: 65vw; /* ビューポート幅の50% */
  max-width: 90vmin; /* 最大サイズをビューポートの縦横の短い方の90%に制限 */
  max-height: 90vmin;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
margin-left: 0;
}
  .sm-tex1a{
    text-align: left;
    right:auto;
    left: 4%;
}

.sm-tex2{
  position: static;
  width: 100%;
  padding: 0 3%;
  margin: 0 auto;
}
.sm-tex2 li{
  padding: 20px 10px;
  margin-bottom: 15px;
  background: #F6E9F3;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.sm-tex2 li:last-of-type{
  margin-bottom: 0;
}

/*school-trouble*/
.school-trouble{
  margin-bottom: 80px;
}
.stbox>img{
  width: 100px;
  position: absolute;
  bottom: -100px;
  right: 0;
}


/*school-resolution*/
.school-resolution{
  margin-bottom: 80px;
}
.sr-img img{
  width: 80%;
}
.sr-box{
  top: 250px;
 width: 80%;
  }
.sr-sec2{
  padding: 50px 0;
}
.dot::after{
  width: 3px;
  height: 3px;
}

.sr-sec3{
  margin-bottom: 380px;
}


.sr-sec4{
  margin-bottom: 80px;
}
.sr-list2{
  flex-direction: column;
}
.sr-list2 li{
  width: 100%;
}
.sr-list2 li:not(:last-of-type){
  margin-bottom: 20px;
}

.sr-list2 img{
  height: 300px;
}


/*school-reason*/
.school-reason{
  margin-bottom: 80px;
  }
.srason-list>li{
  padding: 20px;
  }
.sreason-box1{
  flex-direction: column-reverse;
}
.sreason-box2{
  flex-direction: column;
}
.sreason-box li{
  width: 100%;
}
.sreason-img{
  margin-bottom: 20px;
}

/*school-why*/
.school-why{
  margin-bottom: 80px;
}
.sw-list li{
  padding: 20px;
}

/*school-resolution2*/
.sr-sec5{
  padding: 50px 0;
}
.sr-sec7{
margin-bottom: 80px;
}
.sr-sec7-img{
  grid-template-columns: repeat(1,1fr);
}

/*school-voice*/
.school-voice{
  margin-bottom: 80px;
}
.svoice-listbox{
padding: 20px;
}
.svoice-listbox1{
  flex-direction: column;
}
.svoice-listbox2{
  flex-direction: column-reverse;
}
.svoice-img{
  width: 100%;
  margin-bottom: 30px;
}
.svoice-img img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
.svoice-tex{
  width: 100%;
}

/*school-curriculum*/
.school-curriculum{
  margin-bottom: 80px;
}
.sc-box{
  padding: 80px 20px;
}
.sc-list{
  grid-template-columns: 1fr;
}
.sc-list>li{
  padding: 20px;
}
.sc-list-tex{
  width: 100%;
}


/*line-area*/
.line-area{
  margin-bottom: 80px;
}
.line-box2{
  margin-top: 50px;
  padding: 20px;
}
.line-link-box{
  flex-direction: column;
}
.line-link-box1{
  width: 100%;
  margin-bottom: 30px;
}
.line-link-box1 img{
  width: 150px;
}
.line-link-box2{
  width: 100%;
}
.line-link-box2 img{
  width: 60px;
  margin-right: 30px;
}

/*school-low*/
.sl-box{
  padding: 40px 20px;
}

}

@media(max-width:500px){
 
  .sm-img{
    margin-bottom: 250px;
  } 
.sm-tex1a h2{
  font-size: 28px;
}
.circle-3{
  width: 300px; /* ビューポート幅の50% */
  height: 300px; /* ビューポート幅の50% */
}

.stbox{
  padding: 20px;
}

/*school-resolution*/
.sr-img img{
  width: 90%;
}
.sr-box{
 width: 90%;
 padding:20px;
  }
  .sr-box-comment{
    font-size: 14px;
    line-height: 1.5;
    top: -50px;
    right: 0;
    }
.sr-sec1{
  margin-bottom: 180px;
}
.sr-sec3{
  margin-bottom: 410px;
}

.watch{
  width: 60px;
  right: 10%;
}
.sr-sec6{
  margin-bottom: 380px;
}
}